td {
    margin:0.5vh;
    padding:0.5vh;
    height:20%;
    width:20%;
    text-align:center;
    font-weight:bold;
    font-size:4vh;
    background-color: #FFFFFF;
}
tbody {
    height: 97vh;
    width: 97vh;
    display: inherit;
}
body {
    background-color: #B0B0B0;
    font-family: 'Roboto', sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    font-size: 3vh;
    margin: 3vh 0vh;
}
div.center {
    margin: auto;
    width: 50%;
    padding-top: 30vh;
    text-align: center;
}
#QRCodeContainer {
    position: absolute;
    top: 3vh;
    text-align:center;
}
