<!DOCTYPE html>
<html>
	<head>
		<title>Start</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	</head>
	<body>
		<table>
			<tbody>
				{% for row in words_grid %}
					<tr>
                        {% set outer_loop_count = loop.index - 1 %}
						    {% for color in row %}
                                {% set inner_loop_count = loop.index - 1 %}
							    <td onclick="this.style.backgroundColor = '{{color_grid[outer_loop_count][inner_loop_count]}}';" >
                                    {{words_grid[outer_loop_count][inner_loop_count]}}
							    </td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br><br><br>
		<p>
			The code for the color grid is {{color_grid_code}}
		</p>
	</body>
</html>
