<!DOCTYPE html>
<html>
	<head>
		<title>
			Key
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/key.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/key.js') }}"></script>
		<meta charset="utf-8">
	</head>
	<body>
		<form onsubmit="main()">
			Enter your key's ID
			<br>
			<input type="text" name="id">
			<br>
			<input class="button" type="submit" value="Submit">
		</form>
	</body>
</html>
