<!DOCTYPE html>
<html>
	<head>
		<title>
			Key
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/key.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/key.js') }}"></script>
		<meta charset="utf-8">
	</head>
	<body>
		<script>
			createKeyTable("{{ id }}")
		</script>
	</body>
</html>
